@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

* {
  font-family: "Pretendard-Regular", Arial, sans-serif;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition:
    background-color 5000s ease-in-out 0s,
    color 5000s ease-in-out 0s;
  transition:
    background-color 5000s ease-in-out 0s,
    color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #f8fafc !important;
  caret-color: #f8fafc !important;
  border: 0.5px solid #4b5563 !important;
}

input {
  border: 0.5px solid #4b5563 !important;
}

input.is-error:-webkit-autofill,
input.is-error:-webkit-autofill:hover,
input.is-error:-webkit-autofill:focus,
input.is-error:-webkit-autofill:active {
  border: 0.5px solid transparent !important;
}

input {
  caret-color: #f8fafc;
}

.group:hover .group-hover {
  color: #66d9e8;
}

.group:hover .group-hover {
  text-decoration: underline;
}

.text-gradient {
  @apply bg-gradient-to-r from-brand-primary to-brand-tertiary bg-clip-text text-transparent;
}
