@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular", Arial, sans-serif, "PyeongChangPeace-Bold";
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#22b8cf, #a3e635);
  border-radius: 6px;
  border: 3px solid #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#a3e635, #22b8cf);
}

::-webkit-scrollbar-track {
  background-color: #334155;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition:
    background-color 5000s ease-in-out 0s,
    color 5000s ease-in-out 0s;
  transition:
    background-color 5000s ease-in-out 0s,
    color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #f8fafc !important;
  caret-color: #f8fafc !important;
  border: 0.5px solid #4b5563 !important;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 0.5px solid #4b5563 !important;
}

input.is-error:-webkit-autofill,
input.is-error:-webkit-autofill:hover,
input.is-error:-webkit-autofill:focus,
input.is-error:-webkit-autofill:active {
  border: 0.5px solid transparent !important;
}

input {
  caret-color: #f8fafc;
}

.group:hover .group-hover {
  color: #66d9e8;
}

.group:hover .group-hover {
  text-decoration: underline;
}

.text-gradient {
  @apply bg-gradient-to-r from-brand-primary to-brand-tertiary bg-clip-text text-transparent;
}

.task-lists-nav::-webkit-scrollbar {
  display: none;
}

@media (min-width: 660px) {
  .opacity-80-650 {
    @apply opacity-80 flex;
  }
}
